# --- MEDICAL CHURN PREDICTION ---
# config/model_config.yaml

# VARIABLE OBJETIVO
target_variable: 'Churned'

# NOMBRE LOGS
log_file: 'modelo_entrenamiento.log'

# SEMILLA
seed: 42

#VALIDACIÓN
data_split:
  test_size: 0.2
  stratify: true


# DEFINICIÓN DE COLUMNAS
columnas:
  # Columnas que se IGNORAN 
  ignorar:
    - 'PatientID'
    - 'Last_Interaction_Date'
  
  # Columnas NUMÉRICAS 
  numericas:
    - 'Age'
    - 'Visits_Last_Year'
    - 'Missed_Appointments'
    - 'Avg_Out_Of_Pocket_Cost'
  
  # Columnas ORDINALES 
  ordinales:
    - 'Referrals_Made'
  
  # Columnas NOMINALES con OneHotEncoding (drop first)
  nominales_ohe_drop:
    - 'Gender'
    - 'Billing_Issues'
    - 'Portal_Usage'
  
  # Columnas NOMINALES con OneHotEncoding normal
  nominales_ohe:
    - 'Insurance_Type'
  
  # Columnas NOMINALES con Frequency Encoding (alta cardinalidad)
  nominales_frecuencia:
    - 'State'
    - 'Specialty'

# PREPROCESAMIENTO PARA PIPELINES
preprocessing:  
  remainder: 'drop'
  ordinal_categories: [[0, 1, 2, 3]]
  
  onehot_drop:  
    drop: 'first'
    handle_unknown: 'ignore'
  
  onehot: 
    handle_unknown: 'ignore'
  
  frequency:
    min_freq: 1
    replace_with: 'other'

# INGENIERIA DE CARACTERÍSTICAS
feature_engineering:
  create_interactions: false
  scale_features: true
  add_polynomial: false

# BÚSQUEDA DE HIPERPARÁMETROS EN EL GRID PARA MODELOS
models:
  base_models:
    logistic:
      max_iter: 1000
      C: 1.0
    
    random_forest: 
      n_estimators: 100
      max_depth: 10
    
    xgboost:  
      max_depth: 6
      learning_rate: 0.1
    
    knn:
      n_neighbors: 5
    
    svc:
      kernel: 'rbf'
      C: 1.0
      probability: true  # Importante para stacking
    
    naive_bayes:  
      var_smoothing: 1e-9
    
    decision_tree: 
      max_depth: 10
  
  blender:
    max_iter: 1000
    C: 1.0
  
  stacking:
    cv: 5
    stack_method: 'auto'
    passthrough: false